[Unit]
Description=minecraft-server
After=syslog.target network.target

[Service]
SuccessExitStatus=143
WorkingDirectory=/opt/minecraft
User=minecraft
Group=minecraft
Restart=on-failure
RestartSec=20 5
ExecStart=/usr/bin/java -Xms860M -Xmx860M -jar server.jar nogui

[Install]
WantedBy=multi-user.target
